html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 37.5rem;
  font-size: 1.6rem;
  font-family: "Jost", sans-serif;
  line-height: 2.7rem;
  font-weight: 400;
  color: #333136; }
  body a {
    text-decoration: none;
    color: inherit; }
  body ul {
    list-style: none;
    margin: 0;
    padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  max-width: 110rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 2rem; }

.btn-light {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border-radius: 0.8rem;
  background-color: #fff;
  color: #333136;
  padding: 1.5rem 2.4rem;
  transition: all 0.2s; }
  .btn-light:hover {
    color: #fff;
    background-color: #ffad9b; }

.btn-dark {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border-radius: 0.8rem;
  background-color: #e7816b;
  color: #fff;
  padding: 1.5rem 2.4rem;
  transition: all 0.2s; }
  .btn-dark:hover {
    color: #fff;
    background-color: #ffad9b; }

.direction-intro {
  background-color: #e7816b;
  border-radius: 1.5rem;
  width: 100%;
  max-height: 25.2rem;
  margin-bottom: 16rem;
  background-image: url(../assets/web-design/desktop/bg-pattern-intro-web.svg);
  background-repeat: repeat-y;
  background-position: 20rem -10rem;
  text-align: center;
  color: #fff;
  padding: 6.4rem 2.4rem; }
  .direction-intro__contact-title {
    font-size: 4rem;
    font-weight: 300;
    line-height: 4rem;
    margin-bottom: 1rem; }
  .direction-intro__contact-text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
    max-width: 60rem;
    margin: 0 auto; }

@media (max-width: 1100px) {
  .direction-intro {
    max-width: 90vw; } }

.card {
  max-width: 110rem;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 16rem; }
  .card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
    background-color: #fdf3f0;
    border-radius: 1.5rem;
    transition: all 0.2s; }
    .card__link:hover {
      background-color: #e7816b;
      color: #fff; }
    .card__link:hover h4 {
      color: #fff; }
    .card__link:hover p {
      color: #fff; }
  .card__img {
    width: 34.5rem;
    height: 32rem;
    border-radius: 1.5rem 1.5rem 0 0; }
  .card__info {
    width: 100%; }
  .card__title {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2.6rem;
    margin-bottom: 1.6rem;
    margin-top: 3.2rem;
    color: #e7816b;
    text-align: center; }
  .card__text {
    width: 28rem;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
    text-align: center;
    color: #333136;
    margin-bottom: 3.2rem;
    box-sizing: border-box;
    padding: 0 15px; }

@media (max-width: 768px) {
  .card__link {
    flex-direction: row; } }

@media (max-width: 660px) {
  .card__link {
    flex-direction: column; } }

.direction-card__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center; }
  .direction-card__item br {
    display: none; }

.direction-card__title {
  display: block;
  font-size: 4rem;
  font-weight: 200;
  line-height: 4.8rem;
  margin-bottom: 3.5rem; }

.direction-card__preview-text {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  padding-right: 2rem; }
  .direction-card__preview-text::after {
    content: "";
    position: absolute;
    background-image: url(../assets/shared/desktop/icon-right-arrow.svg);
    background-repeat: no-repeat;
    top: 0.6rem;
    right: 0;
    width: 1rem;
    height: 1rem; }

.graph {
  background-image: url(../assets/home/desktop/image-graphic-design.jpg);
  background-size: cover;
  transition: all 0.2s; }
  .graph:hover {
    background-image: linear-gradient(to top, rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url(../assets/home/desktop/image-graphic-design.jpg); }

.app {
  background-image: url(../assets/home/desktop/image-app-design.jpg);
  background-size: cover;
  transition: all 0.2s; }
  .app:hover {
    background-image: linear-gradient(to top, rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url(../assets/home/desktop/image-app-design.jpg); }

.web {
  background-image: url(../assets/home/desktop/image-web-design-large.jpg);
  background-size: cover;
  transition: all 0.2s; }
  .web:hover {
    background-image: linear-gradient(to top, rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url(../assets/home/desktop/image-web-design-large.jpg); }

.mb-big {
  margin-bottom: 38rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10rem;
  margin: 7rem auto; }
  .header__nav-mob {
    display: none; }
  .header__btn {
    display: none; }
  .header__check {
    display: none; }

@media (max-width: 765px) {
  .header {
    margin: 3.7rem 0;
    justify-content: space-between; }
    .header__btn {
      display: block;
      margin-left: auto; }
    .header__check:checked .nav__list {
      display: block; } }

.nav__list {
  display: flex;
  align-items: center; }

.nav__check {
  display: none; }

.nav__btn {
  display: none; }

.nav__item {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 1.4rem; }
  .nav__item:not(:first-of-type) {
    margin-left: 3.7rem; }
  .nav__item a:hover {
    border-bottom: 1px solid #333136; }

@media (max-width: 765px) {
  .nav {
    position: relative; }
    .nav__list {
      display: none; }
      .nav__list--mob {
        display: block;
        left: 0;
        top: 10rem;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #1d1c1e;
        color: white;
        position: absolute; }
    .nav__btn {
      display: block; }
    .nav__item {
      padding: 1.5rem; }
      .nav__item:not(:first-of-type) {
        margin-left: 0; } }

.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64rem;
  background-color: #e7816b;
  border-radius: 2rem;
  overflow: hidden;
  background-image: url(../assets/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  background-position: 50rem 0;
  margin-bottom: 15rem; }
  .intro__wrapper {
    margin: 0 9.5rem; }
  .intro__phone-img {
    margin-right: 9.5rem;
    margin-top: 25rem; }
  .intro__heading {
    width: 100%;
    font-size: 4.8rem;
    line-height: 5.2rem;
    font-weight: normal;
    color: #fff;
    margin-bottom: 3rem; }
  .intro__text {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2.6rem;
    color: #fff;
    margin-bottom: 4rem; }

@media (max-width: 1100px) {
  .intro {
    max-width: 90vw; } }

@media (max-width: 940px) {
  .intro {
    flex-direction: column;
    height: 84.3rem;
    background-image: url(../assets/home/desktop/bg-pattern-hero-home.svg);
    background-repeat: no-repeat;
    background-position: -30rem 0; }
    .intro__wrapper {
      margin: 0;
      margin-top: 6rem;
      text-align: center;
      max-width: 57rem;
      width: 100%; }
    .intro__phone-img {
      margin: 0;
      margin-top: 7rem; } }

.directions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 3rem;
  margin-bottom: 16rem; }
  .directions__web-dis {
    min-height: 30rem;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 1.5rem;
    background-image: url(../assets/home/desktop/image-web-design-large.jpg);
    position: relative;
    transition: all 0.3s;
    background-size: cover;
    padding: 3rem 0; }
    .directions__web-dis:hover {
      background-image: linear-gradient(to top, rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url(../assets/home/desktop/image-web-design-large.jpg); }
  .directions__app-dis {
    height: 30rem;
    padding: 3rem 0;
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 1.5rem;
    background-image: url(../assets/home/desktop/image-app-design.jpg);
    position: relative;
    transition: all 0.3s;
    background-size: cover; }
    .directions__app-dis:hover {
      background-image: linear-gradient(to top, rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url(../assets/home/desktop/image-app-design.jpg); }
  .directions__graph-dis {
    height: 30rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 1.5rem;
    padding: 3rem 0;
    background-image: url(../assets/home/desktop/image-graphic-design.jpg);
    position: relative;
    transition: all 0.3s;
    background-size: cover; }
    .directions__graph-dis:hover {
      background-image: linear-gradient(to top, rgba(231, 129, 107, 0.7), rgba(231, 129, 107, 0.7)), url(../assets/home/desktop/image-graphic-design.jpg); }
  .directions__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; }
    .directions__item br {
      display: none; }
  .directions__title {
    display: block;
    font-size: 4rem;
    font-weight: 200;
    line-height: 4.8rem;
    margin-bottom: 3.5rem; }
  .directions__preview-text {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    padding-right: 2rem; }
    .directions__preview-text::after {
      content: "";
      position: absolute;
      background-image: url(../assets/shared/desktop/icon-right-arrow.svg);
      background-repeat: no-repeat;
      top: 0.6rem;
      right: 0;
      width: 1rem;
      height: 1rem; }

@media (max-width: 940px) {
  .directions {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr); }
    .directions__web-dis {
      grid-row: 1/2;
      grid-column: 1/2; }
    .directions__app-dis {
      grid-row: 2/3;
      grid-column: 1/2; }
    .directions__graph-dis {
      grid-column: 1/2;
      grid-row: 3/4; } }

.advantages {
  margin-bottom: 38rem; }
  .advantages__item {
    display: inline-block;
    max-width: 31.7rem;
    text-align: center;
    padding: 1.5rem; }
  .advantages__img {
    margin-bottom: 4.8rem; }
  .advantages__title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.6rem;
    margin-bottom: 3.2rem; }
  .advantages__text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem; }

@media (max-width: 1090px) {
  .advantages__item {
    display: flex;
    max-width: 69rem; }
  .advantages__info {
    text-align: left;
    margin-left: 4.8rem; } }

@media (max-width: 590px) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .advantages__img {
    width: 20rem;
    height: 20rem; }
  .advantages__info {
    text-align: center;
    margin: 0; } }

.footer {
  margin-top: 19rem;
  background-color: #1d1c1e;
  width: 100%;
  min-height: 25.5rem;
  position: relative;
  padding-top: 14.4rem;
  color: #fff; }
  .footer__nav-img {
    width: 18rem;
    height: 2.4rem; }
  .footer__contact-section {
    box-sizing: border-box;
    position: absolute;
    top: -22rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-height: 29rem;
    background-color: #e7816b;
    border-radius: 1.5rem;
    padding: 7.2rem 9.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-repeat: no-repeat;
    background-position: 0rem 0; }
  .footer__contact-wrapper {
    max-width: 60.6rem;
    margin-right: 2rem;
    margin-bottom: 2rem; }
  .footer__contact-title {
    font-size: 4rem;
    font-weight: 300;
    line-height: 4rem;
    margin-bottom: 1rem; }
  .footer__contact-text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem; }
  .footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.3rem;
    border-bottom: 1px solid rgba(241, 243, 245, 0.3); }
  .footer__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .footer__nav-item {
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-size: 1.4rem; }
    .footer__nav-item:not(:first-of-type) {
      padding-left: 3.7rem; }
    .footer__nav-item a:hover {
      border-bottom: 1px solid #f1f3f5; }
  .footer__contact-info {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
    color: rgba(241, 243, 245, 0.7);
    padding-bottom: 4rem; }
  .footer__address {
    width: 33%; }
  .footer__contacts {
    width: 33%; }
  .footer__social {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
  .footer__social-item:not(:first-of-type) {
    margin-left: 1.6rem; }

@media (max-width: 1100px) {
  .footer__contact-section {
    max-width: 95vw; } }

@media (max-width: 770px) {
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding-bottom: 0; }
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5rem;
    width: 100%;
    border-top: 1px solid rgba(241, 243, 245, 0.3); }
  .footer__contact-info {
    background-image: url(../assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-repeat: no-repeat;
    background-position: 10rem 0; }
  .footer__nav-item {
    display: block;
    margin-bottom: 3rem; }
    .footer__nav-item:not(:first-of-type) {
      padding: 0; }
  .footer__nav-img {
    margin: 3.2rem; } }

@media (max-width: 670px) {
  .footer__contact-info {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .footer__address {
    width: 100%;
    margin-bottom: 4rem; }
  .footer__contacts {
    width: 100%;
    margin-bottom: 4rem; }
  .footer__social {
    width: 100%;
    margin-bottom: 4rem;
    justify-content: center; } }

@media (max-width: 970px) {
  .footer__contact-section {
    padding: 6.4rem 2.4rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: -30rem; }
  .footer__contact-wrapper {
    margin-bottom: 3.2rem; } }

.cards {
  max-width: 110rem;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 16rem; }
  .cards__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }

.recommends {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38rem; }
  .recommends__item {
    margin: 1.2rem;
    width: 100%;
    min-width: 33rem;
    max-width: 67rem;
    text-align: center;
    height: 30rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .recommends__item-wrapper br {
    display: none; }
  .recommends__title {
    font-size: 4rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #fff;
    margin-bottom: 3.2rem; }
  .recommends__preview-text {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    color: #fff;
    padding-right: 2rem;
    letter-spacing: 0.3rem; }
    .recommends__preview-text::after {
      content: "";
      position: absolute;
      background-image: url(../assets/shared/desktop/icon-right-arrow.svg);
      background-repeat: no-repeat;
      top: 0.6rem;
      right: 0;
      width: 1rem;
      height: 1rem; }

@media (max-width: 918px) {
  .recommends {
    flex-wrap: wrap;
    justify-content: center; } }

.about {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7816b;
  border-radius: 1.5rem;
  margin-bottom: 16rem;
  overflow: hidden;
  background-blend-mode: screen;
  position: relative; }
  .about__intro-img {
    margin-right: -2.5rem;
    height: 100%; }
  .about__intro-textbox {
    padding: 0 9.5rem; }
  .about__intro-title {
    font-size: 4.8rem;
    font-weight: 400;
    color: white;
    margin-bottom: 3.2rem; }
  .about__intro-text {
    font-size: 1.5rem;
    color: white;
    line-height: 2.6rem;
    font-weight: 300; }

@media (max-width: 1100px) {
  .about {
    max-width: 90vw; } }

@media (max-width: 800px) {
  .about {
    max-width: 90vw;
    flex-wrap: wrap; }
    .about__intro-img {
      margin: 0;
      padding: 0;
      width: 100%;
      margin-bottom: 2rem; }
    .about__intro-textbox {
      text-align: center;
      margin-bottom: 4rem;
      order: 2;
      padding: 0 5rem; } }

.suggestions {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf3f0;
  border-radius: 1.5rem;
  margin-bottom: 16rem;
  overflow: hidden;
  position: relative; }
  .suggestions--second {
    margin-bottom: 38rem; }
    .suggestions--second img {
      margin-right: -3.7rem; }
  .suggestions__intro-textbox {
    padding: 0 9.5rem;
    padding-right: 18rem; }
  .suggestions__intro-title {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 4.8rem;
    color: #e7816b;
    margin-bottom: 3.2rem; }
  .suggestions__intro-text {
    font-size: 1.5rem;
    color: #333136;
    line-height: 2.6rem;
    font-weight: 300;
    margin-bottom: 2rem; }
  .suggestions__intro-img {
    margin-left: -2rem;
    height: 100%; }

@media (max-width: 1000px) {
  .suggestions {
    flex-wrap: wrap;
    max-width: 90vw; }
    .suggestions__intro-img {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 2rem; }
    .suggestions__intro-textbox {
      text-align: center;
      margin-bottom: 4rem;
      order: 2;
      padding: 0 4rem; } }

@media (max-width: 600px) {
  .suggestions__intro-textbox {
    padding: 0 20px; }
  .suggestions__intro-img {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem; } }

.countries {
  margin-bottom: 16rem; }
  .countries__list {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .countries__item {
    text-transform: uppercase;
    color: #333136;
    font-size: 2rem;
    text-align: center; }
  .countries__title {
    font-weight: 200;
    margin-bottom: 3.5rem; }
  .countries__img {
    position: relative; }

@media (max-width: 768px) {
  .countries__list {
    flex-wrap: wrap; } }

.location {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-bottom: 38rem; }
  .location__text {
    background-color: #fdf3f0;
    border-radius: 1.5rem;
    padding: 4.7rem 9.5rem;
    background-image: url(../assets/shared/desktop/bg-pattern-three-circles.svg);
    background-repeat: no-repeat;
    background-position: 30rem 0; }
  .location__text-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    margin: 0; }
  .location__title {
    font-weight: 300;
    font-size: 40px;
    color: #e7816b;
    line-height: 4.8rem;
    margin-bottom: 2.4rem; }
  .location__address {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2.6rem;
    width: 100%;
    margin-right: 2rem; }
  .location__contacts {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2.6rem;
    width: 100%; }
  .location__img {
    width: 100%;
    max-height: 33rem;
    border-radius: 1.5rem; }

.au {
  grid-column: 2 / 4;
  grid-row: 2/3; }

.ca {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }

.uk {
  grid-column: 1 / 3;
  grid-row: 3; }

@media (max-width: 950px) {
  .location {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto); }
    .location__address {
      margin-bottom: 2.4rem; }
    .location__text {
      padding: 88px 75px; }
  .ca {
    grid-row: 2 / 3;
    grid-column: 1 / 2; }
  .au {
    grid-column: 1 / 2;
    grid-row: 4/5; }
  .uk {
    grid-column: 1 / 2;
    grid-row: 6 /7; } }

@media (max-width: 540px) {
  .location__title {
    text-align: center; }
  .location__text-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; } }

.contact {
  min-height: 48rem;
  background-color: #e7816b;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 9.5rem;
  box-sizing: border-box;
  margin-bottom: 14rem;
  background-image: url(../assets/contact/desktop/bg-pattern-hero-desktop.svg);
  background-repeat: no-repeat;
  background-position: -10rem -20rem; }
  .contact__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 300;
    color: white;
    margin-bottom: 3.2rem; }
  .contact__text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
    color: white;
    padding-right: 30px; }
  .contact__form {
    min-width: 32rem; }
  .contact__input {
    display: block;
    width: 100%;
    padding: 0 40px 20px 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffad9b;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2.4rem;
    outline: none; }
    .contact__input::placeholder {
      color: #ffad9b; }
  .contact__text-area {
    box-sizing: border-box;
    width: 100%;
    height: 10.2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffad9b;
    font-size: 1.5rem;
    color: white;
    outline: none;
    font-family: "Jost", sans-serif;
    padding: 0 40px 0 10px;
    margin-bottom: 2.4rem; }
    .contact__text-area::placeholder {
      color: #ffad9b;
      font-weight: 400; }
  .contact__btn {
    display: block;
    margin-left: auto;
    border: none;
    font-family: inherit;
    padding: 15px 45px; }

@media (max-width: 1100px) {
  .contact {
    max-width: 90vw; } }

@media (max-width: 865px) {
  .contact {
    flex-wrap: wrap;
    justify-content: left;
    padding: 5.8rem 7.1rem; }
    .contact__info {
      min-width: 27rem;
      width: 100%;
      margin-bottom: 4rem; }
    .contact__form {
      width: 100%; } }

@media (max-width: 600px) {
  .contact {
    padding: 3rem 2.4rem; }
    .contact__form {
      margin: 0 auto; } }
