.about {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $peach;
  border-radius: 1.5rem;
  margin-bottom: 16rem;
  overflow: hidden;
  background-blend-mode: screen;
  position: relative;

  //   background-image: $peach, url(../assets/home/desktop/bg-pattern-hero-home.svg);

  &__intro-img {
    margin-right: -2.5rem;
  }

  &__intro-textbox {
    padding: 0 9.5rem;
  }

  &__intro-title {
    font-size: 4.8rem;
    font-weight: 400;
    color: white;
    margin-bottom: 3.2rem;
  }
  &__intro-text {
    font-size: 1.5rem;
    color: white;
    line-height: 2.6rem;
    font-weight: 300;
  }
}

@media (max-width: 800px) {
  .about {
    flex-wrap: wrap;

    &__intro-img {
      margin: 0;
      padding: 0;
      width: 100%;
      margin-bottom: 2rem;
    }

    &__intro-textbox {
      text-align: center;
      margin-bottom: 4rem;
      order: 2;
      padding: 0 5rem;
    }
  }
}

.suggestions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf3f0;
  border-radius: 1.5rem;
  margin-bottom: 16rem;
  overflow: hidden;
  position: relative;

  &--second {
    margin-bottom: 38rem;
    & img {
      margin-right: -3.7rem;
    }
  }
  &__intro-textbox {
    padding: 0 9.5rem;
    padding-right: 18rem;
  }

  &__intro-title {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 4.8rem;
    color: $peach;
    margin-bottom: 3.2rem;
  }
  &__intro-text {
    font-size: 1.5rem;
    color: $dark-gray;
    line-height: 2.6rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  &__intro-img {
    margin-left: -4rem;
    height: 100%;
  }
}
@media (max-width: 1000px) {
  .suggestions {
    flex-wrap: wrap;

    &__intro-img {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 2rem;
    }

    &__intro-textbox {
      text-align: center;
      margin-bottom: 4rem;
      order: 2;
      padding: 0 4rem;
    }
  }
}

@media (max-width: 600px) {
  .suggestions {
    &__intro-textbox {
      padding: 0 20px;
    }

    &__intro-img {
      margin: 0;
      padding: 0;
      margin-bottom: 2rem;
    }
  }
}

.countries {
  margin-bottom: 16rem;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    text-transform: uppercase;
    color: $dark-gray;
    font-size: 2rem;
    text-align: center;
  }

  &__title {
    font-weight: 200;
    margin-bottom: 3.5rem;
  }

  &__img {
    position: relative;
  }
}

@media (max-width: 768px) {
  .countries {
    &__list {
      flex-wrap: wrap;
    }
  }
}
