.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $peach;
  border-radius: 1.5rem;
  margin-bottom: 16rem;
  overflow: hidden;
  background-blend-mode: screen;
  position: relative;

  //   background-image: $peach, url(../assets/home/desktop/bg-pattern-hero-home.svg);

  &__intro-img {
    margin-right: -2.5rem;
  }

  &__intro-textbox {
    padding: 0 9.5rem;
  }

  &__intro-title {
    font-size: 4.8rem;
    font-weight: 400;
    color: white;
    margin-bottom: 3.2rem;
  }
  &__intro-text {
    font-size: 1.5rem;
    color: white;
    line-height: 2.6rem;
    font-weight: 300;
  }
}
