.btn-light {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border-radius: 0.8rem;
  background-color: #fff;
  color: $dark-gray;
  padding: 1.5rem 2.4rem;
  transition: all 0.2s;

  &:hover {
    color: #fff;
    background-color: $light-peach;
  }
}

.direction-intro {
  background-color: $peach;
  border-radius: 1.5rem;
  width: 100%;
  min-height: 29rem;
  margin-bottom: 16rem;
  background-image: url(../assets/web-design/desktop/bg-pattern-intro-web.svg);
  background-repeat: repeat-y;
  background-position: 20rem -10rem;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &__contact-title {
    font-size: 4rem;
    font-weight: 300;
    line-height: 4rem;
    margin-bottom: 1rem;
  }

  &__contact-text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
    width: 60rem;
  }
}

.card {
  height: 48rem;
  width: 34.5rem;
  &__item {
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
    background-color: #fdf3f0;
    border-radius: 1.5rem;

    &:hover {
      background-color: $peach;
      color: #fff;
    }
    &:hover h4 {
      color: #fff;
    }
    &:hover p {
      color: #fff;
    }
  }

  &__img {
    width: 34.5rem;
    height: 32rem;
    border-radius: 1.5rem 1.5rem 0 0;
  }
  &__info {
    width: 100%;
  }

  &__title {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2.6rem;
    margin-bottom: 1.6rem;
    margin-top: 3.2rem;
    color: $peach;
  }

  &__text {
    width: 28rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 300;
    text-align: center;
    color: $dark-gray;
    margin-bottom: 3.2rem;
  }
}
