.footer {
  margin-top: 19rem;
  background-color: $black;
  width: 100%;
  min-height: 25.5rem;
  position: relative;
  padding-top: 14.4rem;
  color: #fff;

  &__nav-img {
    width: 18rem;
    height: 2.4rem;
  }

  &__contact-section {
    box-sizing: border-box;
    position: absolute;
    top: -22rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-height: 29rem;
    background-color: $peach;
    border-radius: 1.5rem;
    padding: 7.2rem 9.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/shared/desktop/bg-pattern-call-to-action.svg);
    background-repeat: no-repeat;
    background-position: 0rem 0;
  }

  &__contact-wrapper {
    max-width: 60.6rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  &__contact-title {
    font-size: 4rem;
    font-weight: 300;
    line-height: 4rem;
    margin-bottom: 1rem;
  }

  &__contact-text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
  }
  &__contact-link {
    // margin-right: 7rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.3rem;
    border-bottom: 1px solid rgba($light-gray, 0.3);
  }
  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-item {
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;

    &:not(:first-of-type) {
      padding-left: 3.7rem;
    }
    & a:hover {
      border-bottom: 1px solid $light-gray;
    }
  }

  &__contact-info {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
    color: rgba($light-gray, 0.7);
    padding-bottom: 4rem;
  }

  &__address {
    width: 33%;
  }

  &__contacts {
    width: 33%;
  }
  &__social {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__social-item:not(:first-of-type) {
    margin-left: 1.6rem;
  }
}
@media (max-width: 1100px) {
  .footer {
    &__contact-section {
      max-width: 95vw;
    }
  }
}

@media (max-width: 770px) {
  .footer {
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      padding-bottom: 0;
    }
    &__nav-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 3.5rem;
      width: 100%;
      border-top: 1px solid rgba($light-gray, 0.3);
    }

    &__contact-info {
      background-image: url(../assets/shared/desktop/bg-pattern-call-to-action.svg);
      background-repeat: no-repeat;
      background-position: 10rem 0;
    }

    &__nav-item {
      display: block;
      margin-bottom: 3rem;

      &:not(:first-of-type) {
        padding: 0;
      }
    }
    &__nav-img {
      margin: 3.2rem;
    }
  }
}

@media (max-width: 670px) {
  .footer {
    &__contact-info {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__address {
      width: 100%;
      margin-bottom: 4rem;
    }
    &__contacts {
      width: 100%;
      margin-bottom: 4rem;
    }
    &__social {
      width: 100%;
      margin-bottom: 4rem;
      justify-content: center;
    }
  }
}

@media (max-width: 970px) {
  .footer {
    &__contact-section {
      padding: 6.4rem 2.4rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      top: -30rem;
    }
    &__contact-wrapper {
      margin-bottom: 3.2rem;
    }
  }
}
