.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64rem;
  background-color: $peach;
  border-radius: 2rem;
  overflow: hidden;
  background-image: url(../assets/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  background-position: 50rem 0;

  margin-bottom: 15rem;

  &__wrapper {
    margin: 0 9.5rem;
  }

  &__phone-img {
    margin-right: 9.5rem;
    margin-top: 25rem;
  }

  &__heading {
    width: 100%;
    font-size: 4.8rem;
    line-height: 5.2rem;
    font-weight: normal;
    color: #fff;
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2.6rem;
    color: #fff;
    margin-bottom: 4rem;
  }
}

@media (max-width: 940px) {
  .intro {
    flex-direction: column;
    height: 84.3rem;

    &__wrapper {
      margin: 0;
      margin-top: 6rem;
      text-align: center;
      max-width: 57rem;
      width: 100%;
    }

    &__phone-img {
      margin: 0;
      margin-top: 7rem;
    }
  }
}
